body {
    background-color: #3D3845;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 0;
    width: 960px;
}

h1{
    color: #84BD97;
    text-align: center;
}

th{
    color: #FD9E27;
}
tr{
    text-align: center;
}

header{
    margin-top: 30px;
    margin-bottom: 30px;

}

i.fas,i.fab{
    color:#84BD97;
    margin:10px;
    font-size:40px;
}

footer{
    text-align:center;
}
a{
    color:#84BD97;
}